body{
    margin: 0px;
    background: url("../img/fondo4.jpg");
}

table{
    border-collapse: collapse;
    background-size: cover;
    background-color: #dbbba6;
    height: 250px;
    width: 250px;
    display: table;
    margin: auto;
}

td{
    text-align: center;
    width: 25px;
    height: 25px;
    padding: .5px;
    border: 5px solid #753700;
}
.barra{
    background-color: #634846;
    width: 100%;
}

#regresar{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 200px;
    height: 50px;
  }
#regresar:hover{
    color: #ffffff;
    background-color: #753700;
}
#ayuda{
    text-decoration: none;
    text-align: center;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 50px; 
}
#ayuda:hover{
    color: #ffffff;
    background-color: #753700; 
}

#inicio{
    text-decoration: none;
    text-align: center;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 50px;  
}
#inicio:hover{
    color: #ffffff;
    background-color: #753700;  
}

img{
    width: 50px; 
    height: 50px;
}

.titulo{
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 800;
    color: #663300;
    text-shadow: none;
}

.divt{
    text-align: center;
    background-size: cover;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 80px;
    width: 100%;
    display: table;
}

.contenido{
    text-align: center;
    background-size: cover;
    width: 100%;
}

#numero{
    width: 130px;
    height: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}

#convertir{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 40px;
  }
#convertir:hover{
    color: #ffffff;
    background-color: #753700;
}

