body{
    margin: 0px;
    background: url("../img/fondo4.jpg");
}

.barra{
    background-color: #634846;
    width: 100%;
}

.divt{
    text-align: center;
    background-size: cover;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 60px;
    width: 100%;
    display: table;
    margin-bottom: 5%;
}

.titulo{
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 800;
    color: #663300;
    text-shadow: none;
}

#ayuda{
    text-decoration: none;
    text-align: center;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 50px; 
}
#ayuda:hover{
    color: #ffffff;
    background-color: #753700; 
}

.botones{
    width: 100%;
    text-align: center;
}

#decimal{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 200px;
    height: 40px;
    margin-bottom: 2%;
}

#decimal:hover{
    color: #ffffff;
    background-color: #753700;
}
#maya{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 200px;
    height: 40px;
}

#maya:hover{
    color: #ffffff;
    background-color: #753700;
}