body{
    margin: 0px;
    background: url("../img/fondo4.jpg");
}

.tablaN{
    width: 25px; 
    height: 25px;
}

.tablaNivel{
    width: fit-content;
    margin: 0 auto;
}
#resultado{
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #634846;
    width: 200px;
    height: 35px;
}

.res{
    width: 200px;
    height: 35px;
    border: 1px solid #634846;

}

#imagen400{
    margin-left: 24%;
}

#cuatrocientos{
    color: #634846;
    font-size: 15px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 600;
    text-align: center;
}
.maximo{
    float: right;
    width: fit-content;
    margin-right: 2%;
    align-content: center;
    align-items: center;
}
#imagen400{
    width: 100px; 
    height: 200px;
}

.barra{
    background-color: #634846;
    width: 100%;
}

#regresar{
    text-decoration: none;
    text-align: center;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 200px;
    height: 50px;
  }
#regresar:hover{
    color: #ffffff;
    background-color: #753700;
}
#ayuda{
    text-decoration: none;
    text-align: center;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 50px; 
}
#ayuda:hover{
    color: #ffffff;
    background-color: #753700; 
}

#inicio{
    text-decoration: none;
    text-align: center;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 50px;
}
#inicio:hover{
    color: #ffffff;
    background-color: #753700; 
}
table{
    border-collapse: collapse;
    background-size: cover;
    background-color: #dbbba6;
    height: 250px;
    width: 250px;
}

#tablero{
    margin-bottom: 20px;
}

.divt{
    text-align: center;
    background-size: cover;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    height: 60px;
    width: 100%;
    display: table;
}

.titulo{
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 800;
    color: #663300;
    text-shadow: none;
}

.contenido{
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #774010;
}

#eleccion{
    text-align: center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #774010;
    width: 200px;
    height: 50px;
    border-collapse: collapse;
    border: 1px solid #753707;
    margin-left: 28%;

}
.conversion{
    text-align: center;
    background-size: cover;
    width: 100%;
    color: #634846;
    font-weight: 600;
    font-size: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#convertir{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 40px;
  }
#convertir:hover{
    color: #ffffff;
    background-color: #753700;
}

#limpiar{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: 200px;
    font-size: 15px;
    color: #ffffff;
    background-color: #634846;
    border-radius: 1px;
    border: none;
    width: 100px;
    height: 40px;
}

#limpiar:hover{
    color: #ffffff;
    background-color: #753700;
}